.animal-img {
    border-radius: 30px;
    margin: 0 auto;
}
.animal-title {
    color: #b61d2f;
}

.animal-subtitle {
    color: #ff4239;
    text-transform: uppercase;
    font-size: 1.3em;
}

.animal-description {
    font-size: 1.4em;
    font-weight: 400;
    color: #404040;
}

.coral-box {
    height: 15vh;
    width: 100vw;
    background-image: url("../images/zigzag_lightCoral.svg");
    background-repeat: repeat-x;
    opacity: 0.5;
    position:fixed;
    bottom: 0;
    left:0;
    z-index: -1;
}

button {
    background-color: #dc2934;
    color: #f5f5f5;
    font-size: 1.3em;
    padding: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
}

.coins-icon {
    display:inline;
}

/* targeting iphone 5 screen size */
@media only screen and (max-height: 630px) {
    .animal-img {
      width: 70%;
    }
  }
  
  /* targeting ipad screen size */
  @media only screen and (min-width: 620px) {
    .animal-img {
      width: 35%;
    }
  }
  
  /* targeting large screen sizes */
  @media screen and (min-width: 1400px) {
    .animal-img {
      width: 25%;
    }
  }