.correct {
  height: 100vh;
  width: 100vw;
  background-color: #078b74;
  text-align: center;
  min-width: 230px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.correct .header img {
  width: 40px;
}

.correct .center {
  border-radius: 50%;
  width: 250px;
  padding: 50px;
  margin: 0 auto;
  background-color: #06746b;
}

.correct .center h2 {
  margin: 0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.correct .center .fs-70 {
  font-size: 70px;
}

.correct .bttn {
  max-width: 300px;
  margin: 0 auto;
}

.correct .center,
.correct a {
  z-index: 2;
}

.pattern-bg {
  position: absolute;
  height: 50vh;
  bottom: 0;
  left: 0;
  background-image: url("../images/animal-spots-green.svg");
  background-size: 30rem;
  z-index: 1;
}

.pattern-bg img {
  height: 100%;
}
