.incorrect {
  height: 100vh;
  width: 100vw;
  background-color: #b61d2f;
  text-align: center;
  min-width: 230px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.incorrect .header img {
  width: 40px;
}

.incorrect .center {
  border-radius: 50%;
  width: 250px;
  padding: 50px;
  margin: 0 auto;
  background-color: #79092d;
}

.incorrect .center h2 {
  margin: 0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.incorrect .center .fs-70 {
  font-size: 70px;
}

.incorrect .bttn {
  max-width: 300px;
  margin: 0 auto;
  color: #79092d;
}

.pattern-bg {
  position: absolute;
  height: 50vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  /* background-image: url("../images/animal-spots-green.svg");
  background-size: 50rem; */
  z-index: 1;
}
