.landing {
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
}

.landing .content {
  width: 80%;
  max-width: 400px;
}

.landing .content .logo {
  width: 210px;
}

.landing .content .discover-icon {
  width: 200px;
  display: block;
  margin: 35px auto;
}

.landing .content h1 {
}

.landing .content p {
  font-size: 19px;
  margin: 10px 0 40px;
}

.landing .green-box {
  height: 15vh;
  width: 100vw;
  background-color: #57bd12;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* targeting iphone 5 screen size */
@media only screen and (max-height: 630px) {
  .landing .content .logo {
    width: 180px;
  }

  .landing .content .discover-icon {
    width: 150px;
    margin: 10px auto 20px;
  }

  .landing .content h1 {
  }

  .landing .content p {
    font-size: 16px;
    margin: 10px 0 40px;
  }
}

/* targeting ipad screen size */
@media only screen and (min-width: 620px) {
  .landing .content .discover-icon {
    width: 260px;
  }

  .landing .content p {
    font-size: 25px;
    margin: 15px 0 50px;
  }
}
