.login {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.login .center-div {
  width: 80%;
  max-width: 260px;
  z-index: 2;
  top:75%;
}

.login h1 {
  color: #145fd2;
}

.login .form input {
  background-color: #d0edff;
}

.login .form input::placeholder {
  color: #145fd2;
  font-weight: bold;
}

.login .form button {
  background-color: #13d089;
  color: #145fd2;
  font-weight: bold;
  padding: 10px 40px;
}

.login .form button a {
  font-weight: bold;
  color: #145fd2;
  text-decoration: none;
}

.login p {
  color: #145fd2;
  font-size: 20px;
}

.login a {
  color: #145fd2;
  text-decoration: underline;
}

.giraffe {
  margin: 0 auto;
}

/* targeting iphone 5 screen size */
@media only screen and (max-height: 630px) {
  .giraffe {
    width: 70%;
  }
}

/* targeting ipad screen size */
@media only screen and (min-width: 620px) {
  .giraffe {
    width: 35%;
  }
}

/* targeting large screen sizes */
@media screen and (min-width: 1400px) {
  .giraffe {
    width: 15%;
  }
}

/* Hiding arrow controls from input - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding arrow controls from input - Firefox */
input[type=number] {
  -moz-appearance: textfield;
}