@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Work+Sans:wght@300&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Nunito", sans-serif;
}

.font-green {
  color: #57bd12;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-bttn {
  font-size: 20px;
  font-weight: semi-bold;
  color: #fff;
  background-color: #ff4139;
  padding: 15px 30px;
  border-radius: 50px;
}

.red-bttn:hover {
  text-decoration: none;
  color: #fff;
}
