.main-navbar {
    /* justify-content:center; */
    /* align-items: center; */
    width: 80%;
    margin: 0 auto;
}

.nav-icon {
    height: 100%;
    width: 100%;
}

.home-btn {
    background-color: #9fd6fd;
    border-radius: 0 0 25px 25px;
}

.points-btn {
    background-color: #baf471;
    border-radius: 0 0 25px 25px;
}
.points-info {
    align-items: center;
    position: absolute;
    right: 15px;
}
.points-info h2 {
    padding-top: 10px;
    line-height: .6em;
}
 .larger-font {
     font-size: 1.2em;
 }

 small {
     font-size: 60%;
 } 

 .single {
     width: 100px;
     margin: 0 auto
 }

 .single img {
    width: 50%;
    height: 50%
}