.prizes .center-div {
  z-index: 2;
}
.prizes {
  background-color: #f5f5f5;
  min-height: 100vh;
  text-align: center;
}

.prizes-icon {
  width: 45px;
}

.points-box {
  background-color: #ffe15e;
  border-radius: 35px;
}

.prize-item {
  border-radius: 50px;
}

.prizes-btn {
  background-color: #56bc12;
  width: 180px;
  display: block;
  margin: 0 auto;
}

.prizes-btn a {
  color: #fff;
}

.yellow-zigzag {
  height: 15vh;
  width: 100%;
  background-image: url("../images/zigzag-yellow.svg");
  background-repeat: repeat-x;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.checkmark {
  width: 40px;
  position: absolute;
  top: 0;
  right: 10px;
}
