.sign-up {
  text-align: center;
  /* height: 100vh;
  width: 100vw; */
  background-color: #2b7f06;
  /* position: fixed; */
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.sign-up .center-div {
  width: 80%;
  max-width: 260px;
}

.sign-up h1 {
  color: #ffd328;
}

.sign-up .form input::placeholder {
  color: #035300;
  font-weight: bold;
}

.sign-up .form button {
  background-color: #ffd328;
  color: #035300;
  font-weight: bold;
}

.sign-up .form button a {
  font-weight: bold;
  color: #035300;
  text-decoration: none;
}

.sign-up p {
  color: #fff;
  font-size: 20px;
}

.sign-up a {
  color: #fff;
  text-decoration: underline;
}

.zebra {
  margin: 0 auto;
}

/* targeting iphone 5 screen size */
@media only screen and (max-height: 630px) {
  .zebra {
    width: 45%;
  }
}

@media only screen and (min-width : 360px) {
  .zebra {
    width: 60%;
  }
}

/* targeting ipad screen size */
@media only screen and (max-width: 1024px) and (min-width: 620px) {
  .zebra {
    width: 25%;
  }
}

/* targeting large screen sizes */
@media screen and (min-width: 1400px) {
  .zebra {
    width: 18%;
  }
}