.trivia {
    background-color: #0846b8;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    position:relative;
}

.blue-zigzag {
    height: 15vh;
    width: 100vw;
    background-image: url("../images/zigzag_darkBlue.svg");
    background-repeat: repeat-x;
}

.trivia .center-div {
    position: relative;
    z-index: 4;
}

.trivia-btn {
    background-color: #022179;
    text-transform: uppercase;
    width: 180px;
    display:block;
    margin: 0 auto;
}

.trivia-bgrd {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
